body.dark {
    background-color: 2b2b2b;
    color: #bbbbbb;
}

body.dark .nav-item[data-active="1"] {
    color: #cb6a2e;
}

body.dark .correct, body.dark .correct input, body.dark .correct select {
    background-color: #527e4f;
    color: #dddddd;
}

body.dark .wrong, body.dark .wrong input, body.dark .wrong select {
    background-color: #bb3e35;
    color: #dddddd;
}

body.dark .wrong-empty, body.dark .wrong-empty input, body.dark .wrong-empty select {
    background-color: #cb6a2ecc;
    color: #2b2b2b;
}

body.dark button {
    background-color: rgb(11 80 135);
    color: #dddddd;
}

body.dark input, body.dark select {
    color: #bbbbbb;
    background-color: #45494a;
    border: 1px solid #646464;
}

body.dark img {
    filter: invert(0.8314);
}

body.dark img.no-filter {
    filter: none;
}

@media only screen and (max-width: 768px) {
    body.dark #navbar {
        background-color: #2b2b2bee;
    }
}